body {
  background-image: url('./bg.jpg');
  background-size: cover;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 5%;
}

.scorecard {
  width: 40%;
}

.results {
  border: 2px solid black;
}

tr {
  width: 100%;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #ccc;
}

.list-board {
  width: 100%;
}

span,
td {
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: 600;
}

p {
  display: flex;
  justify-content: space-between;
}

button {
  border: 3px solid black;
  box-shadow: 3px 3px;
  cursor: pointer;
}

input {
  display: flex;
  border: 3px solid black;
  margin: 4px 12px;
  padding: 6px 6px;
}

.add {
  margin-left: 65%;
}

.form1 {
  gap: 16px;
}

h1,
h2,
span {
  color: floralwhite;
}

h1 {
  display: flex;
  justify-content: center;
}
